.featured-box {
    /* background-image: url('../../../assets/home/featured.jpg'); */
    background:linear-gradient(0deg, rgba(13, 12, 12, 0.523), rgba(29, 29, 27, 0.507)), url('../../../assets/home/featured.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}